.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: #2F3349;
  min-width: 100px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-dropdown-content .custom-dropdown-item {
  color: #CBC9E0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.custom-dropdown-content a:hover {
  background-color: #383D53;
}
